
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    
    background-image: url('images/Awesome\ Nike\ iPhone\ Wallpapers\ -\ WallpaperAccess.jpeg');
    background-size: cover
  
      
      }


header {
	background-color: rgb(91, 87, 87);
	color: rgb(0, 0, 0);
	padding: 20px;
}

h1 {margin: 0;}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;}

nav ul li {display: inline-block;
	margin-right: 20px;}

nav ul li:last-child {margin-right: 0;}

nav ul li a {color: rgb(246, 246, 248);
	text-decoration: none}


.shoe-list {margin: 20px;}

.shoe-list h2 {margin-top: 0;}

.shoe-list ul {
    margin: 0;
	padding: 0;
	list-style: none;}

.shoe-list li {display: inline-block;
	margin-right: 20px;
	vertical-align: top;}

.shoe-list li:last-child {
	margin-right: 0}

.shoe-list img {
	display: block;
	margin-bottom: 10px;}

.shoe-list h3 {
	margin: 0;
	font-size: 16px;
}

.shoe-list p {
	margin: 0;
	font-size: 14px;
	color: rgb(13, 14, 10);}

.shoe-list button {
	display: block;
	margin-top: 10px;
	background-color: rgb(237, 235, 235);
	color: 
    
    